*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
   font-size: 1rem;
   background: #F2F4D1;
   font-family: Verdana, sans-serif;
}

.header{
    background: #89A3B2;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.headerTitle{
    font-size: 4.8rem;
}

.headerHomePageRedirect{
    text-decoration: none;
    color: #B2D3BE;
    background-color: #5E6073;
    padding: 0.8rem;
    border-radius: 0.2rem;
    position: absolute;
    right: 0rem;
    margin-right: 8rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.article-style{
    background-color: #5E6073;
    padding-top: 4rem;
    padding-bottom: 8rem;
    margin: 0, auto;
    padding-left: 26rem;
    padding-right: 26rem;
    display: flex;
    flex-direction: column;
}

.cta-article{
    align-items: end;
    margin-top: 16rem;
    margin-bottom: 4rem;
}

.h2-style{
    font-size: 4rem;
    color: #B2D3BE;
}

.cta-button{
    text-decoration: none;
    background-color: #B2D3BE;
    border-radius: 0.2rem;
    padding: 0.8rem;
    color: #5E6073;
    font-weight: bold;
    width: fit-content;
    font-size: 1.6rem;
}

.sdg-p{
    color: #B2D3BE;
    font-size: 2rem;
    padding-top: 1.2rem;
}

.footer{
    background-color: #89A3B2;
    margin-top: 8rem;
    padding: 4rem;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footerLink{
    color: black;
}