*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
   font-size: 1rem;
   background: #F2F4D1;
   font-family: Verdana, sans-serif;
}

.header{
    background: #89A3B2;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.headerTitle{
    font-size: 4.8rem;
}

.headerHomePageRedirect{
    text-decoration: none;
    color: #B2D3BE;
    background-color: #5E6073;
    padding: 0.8rem;
    border-radius: 0.2rem;
    position: absolute;
    right: 0rem;
    margin-right: 8rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.footer{
    background-color: #89A3B2;
    margin-top: 8rem;
    padding: 4rem;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footerLink{
    color: black;
}